In [11]:
import datetime 
    
current_time = datetime.datetime.now() 
print (current_time)

2022-01-01 12:12:28.428666

In [12]:
name=input("Input Your Name");
print(name);

Input Your NameRajaHammad
Majeed

In [21]:
x=input("Inter First Number");
y=input("Input Second number");
z=int(x)+int(y);
print("Result" ,z);

Inter First Number56
Input Second number09
Result 65

In [22]:
z= ("Raja","Hammad","aaa" );
print(z);

('Raja', 'Hammad', 'aaa')

In [25]:
A=("twinkle,twinkle,little star,");
print(A);

twinkle,twinkle,little star,

In [26]:
A=("Twinkle,twinkle,little star,");
B=("       How I wonder what you are!");
C=("               Up above the world so high,");
D=("               Like a diamound in the sky,");

print(A);
print(B);
print(C);
print(D);
print(A);
print(B);

Twinkle,twinkle,little star,
       How I wonder what you are!
               Up above the world so high,
               Like a diamound in the sky,
Twinkle,twinkle,little star,
       How I wonder what you are!

In [27]:
import sys
print(sys.version)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [33]:
from math import pi
radius = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(radius) + " is: " + str(pi * radius**2))

Input the radius of the circle : 45
The area of the circle with radius 45.0 is: 6361.725123519331

In [31]:
firstname = input("Input your First Name : ")
lastname = input("Input your Last Name : ")
print ("Hello  " + lastname + " " + firstname)

Input your First Name : Raja
Input your Last Name : Hammad
Hello  Hammad Raja